<!-- Footer Component -->
<div id="containerFooter">
    <div id="webFooter">
        <h3>Online Store</h3>
        <p>Men Clothing</p>
        <p>Women Clothing</p>
        <p>Men Accessories</p>
        <p>Women Accessories</p>
    </div>
    <div id="webFooter">
        <h3>Helpful Links</h3>
        <p>Home</p>
        <p>About</p>
        <p>Contact</p>
    </div>
    <div id="webFooter">
        <h3>Partners</h3>
        <p>Zara</p>
        <p>Pantaloons</p>
        <p>Levis</p>
        <p>UCB</p>
        <p>+ Many More</p>
    </div>
    <div id="webFooter">
        <h3>Address</h3>
        <p>Building 101</p>
        <p>Central Avenue</p>
        <p>LA - 902722</p>
        <p>United States</p>
    </div>
</div>
<div id="credit">© Shoplane 2025 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; All Rights Reserved</div>